@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ciekawe Miejsca</h1>
    <p>Odkryj piękne miejsca na Ziemi</p>

</div>
<img src="~/img/main.jpg" alt="view" class="text-center" width="1100" height="600"/>
