@page
@model CiekaweMiejsca.Pages.WylogowanoModel
@{
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Pomyślnie wylogowano</h1>
    <a asp-area="" asp-page="/Logowanie">Zaloguj ponownie</a>
</div>