@using CiekaweMiejsca;
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CiekaweMiejsca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ciekawe Miejsca</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Strona główna</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kategorie
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Afryka" value="afryka">Afryka</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Ameryka Południowa" value="amerykaS">Ameryka Południowa</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Ameryka Północna" value="amerykaN">Ameryka Północna</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Australia" value="australia">Australia</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Azja" value="azja">Azja</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Europa" value="europa">Europa</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/posty/wszystkie/Index" asp-route-lok="Wszystkie" value="wszystkie">Wszystkie</a>
                            </div>
                        </li>
                            @if (Logowanie.uzytkownik != null)
                            {
                                @if (Logowanie.uzytkownik.rola == "admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/komentarze/Index">Komentarze</a>
                                    </li>
                                }
                            }
                        </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Logowanie.zalogowany == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Rejestracja">Rejestracja</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logowanie">Logowanie</a>
                            </li>
                        }
                        @if (Logowanie.zalogowany == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Mojekonto">Moje konto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Wylogowano">Wyloguj</a>
                            </li>
                        }
                    </ul>
                        
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CiekaweMiejsca - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
